.instagram-container {
    margin-top: 150px;
    padding-bottom: 100px;
    height: 350px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.instagram-container .instagram-row .instagram-title {
    font-size: 31px;
    line-height: 23px;
    text-align: center;
    color: #676d72;
    font-weight: 600;
}
