.main-container {
    width: 100%;
}

.main-container .main-visual {
    width: 100%;
    height: 960px;
    background-color: rgb(255 245 214);
}

.main-container .main-visual .main-visual-container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1470px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 200px;
}
.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table .main-visual-txt-table h2 {
    text-align: left;
    padding: 30px 0px 0px 20px;
    margin-bottom: 0;
    color: #676d72;
    font-size: 56px;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table h2 .pc-br {
    display: none;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table p {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    padding: 30px;
    color: #676d72;
}

.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table 
.main-visual-txt-table .shop-now {
    width: auto;
    text-align: center;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table .shop-now a {
    height: 55px;
    margin-top: 20px;
    padding: 10 0px;
    padding-right: 40px;
    font-size: 24px;
    line-height: 25px;
    color: #f9ce42;
    background: url(https://www.noelohills.com/web/upload/noelo/main/btn-more-visual-m.png) right center no-repeat;
    background-size: auto 25px;
    position: relative;
    right: 190px;
}
.main-container .main-visual .main-visual-container .main-visual-slick-slides
 .main-visual-table .main-visual-txt-table{
    width: 40%;
    height: 530px;
    float: left;
    margin: 0;
    padding: 60px;
}
.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table
.main-visual-slide-img {
    width: 50%;
    float: right;
    margin: 0;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table .main-visual-slide-img img {
    width: 100%;
    height: 650px;
    margin: 0;
}