.promis-row {
    width: 100%;
    height: auto;
    padding: 70px 0 90px 0;
}

.promis-row .container .title {
    text-align: center;
    margin-bottom: 50px;
}

.promis-row .container .title span {
    width: 100%;
    color: #f9ce42;
    font-weight: 700;
    font-size: 13px;
}

.promis-row .container .title strong {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #676d72;
}
