@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

ol,
em,
ul,
li,
body,
table,
th,
td,
button,
select,
input,
textarea,
a,
b {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-decoration-line: none;
}

.wrap {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: white;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1470px;
}

.wrap .header-container {
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 140px;
}

.wrap .header-container .header-row {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
.header-container .header-row .header{
    width: 100%;
    height: 100%;
}
.header-container .header-row .header .logo {
    width: 180px;
    height: 95px;
    background: url(https://www.noelohills.com/web/upload/noelo/common/logo-m.png) no-repeat;
    position: relative;
    background-size: contain;
    margin-top: 38px;
}
.header-container .header-row .nav-menu-container{
   display: inline-block;
   position: relative;
   top: -82px;
   right: -253px;
}
.header-container .header-row .nav-menu-container .nav-menu{
   display: inline-block;
}
.header-container .header-row .nav-menu-container .nav-menu .nav-item{
    width: auto;
    float: left;
    font-size: 17px;
    margin-right: 60px;
}
.header-container .header-row .nav-menu-container .nav-menu .nav-item a {
    color: #676d72;
    letter-spacing: -0.45px;
}
.header-container .header-row .header .nav-wrap {
    width: 100px;
    height: auto;
    margin: 0;
    display: flex;
    position: relative;
    float: right;
    top: -86px;
}

.header-container .header-row .header .nav-wrap::after {
    clear: both;
}

.header-container .header-row .header .nav-wrap .nav-icon {
    align-items: center;
    text-align: center;
}
.header-container .header-row .header .nav-wrap .nav-icon .xi-2x {
    color: gray;
    font-weight: 200;
    font-size: 30px;
    margin-right: 40px;
}

.down {
    background-color: white;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
}

.main-container {
    width: 100%;
}

.main-container .main-visual {
    width: 100%;
    height: 960px;
    background-color: rgb(255 245 214);
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.main-container .main-visual .main-visual-container {
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1470px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 200px;
}
.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table .main-visual-txt-table h2 {
    text-align: left;
    padding: 30px 0px 0px 20px;
    margin-bottom: 0;
    color: #676d72;
    font-size: 56px;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table h2 .pc-br {
    display: none;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table p {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    padding: 30px;
    color: #676d72;
}

.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table 
.main-visual-txt-table .shop-now {
    width: auto;
    text-align: center;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table .shop-now a {
    height: 55px;
    margin-top: 20px;
    padding: 10 0px;
    padding-right: 40px;
    font-size: 24px;
    line-height: 25px;
    color: #f9ce42;
    background: url(https://www.noelohills.com/web/upload/noelo/main/btn-more-visual-m.png) right center no-repeat;
    background-size: auto 25px;
    position: relative;
    right: 190px;
}
.main-container .main-visual .main-visual-container .main-visual-slick-slides
 .main-visual-table .main-visual-txt-table{
    width: 40%;
    height: 530px;
    float: left;
    margin: 0;
    padding: 60px;
}
.main-container .main-visual .main-visual-container
.main-visual-slick-slides .main-visual-table
.main-visual-slide-img {
    width: 50%;
    float: right;
    margin: 0;
}

.main-container .main-visual .main-visual-container .main-visual-slick-slides 
.main-visual-table .main-visual-txt-table .main-visual-slide-img img {
    width: 100%;
    height: 650px;
    margin: 0;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
